<h1>{{ object.usuario_id}}</h1>
<h1>Que vida tan SAAAAD</h1>
<h1>{{ object.nombre }}</h1>
<h1>Su dinero total es</h1>
<h1>{{ object.cupo }}</h1>
<li><a href="/bazar/cliente/{{object.id}}/canasta/"</a></li>
<h1>{{object.id}} es hora de de de comprar</h1>
