{% if latest_tienda_list %}
    <ul>
    {% for object in latest_tienda_list %}
        <li><a href="/bazar/{{object.id}}/">{{ object.nombre_tienda }}</a></li>
        <li>1</li>
        <h1>loquesea</h1>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay naaaa.</p>
{% endif %}
